




carousel-caption h3 {
    text-align: right;
    min-width: 750px;
    height: 100px;
    
}

carousel-caption p {
    text-align: right;
    min-width: 750px;
    height: 100px;
    
    
}



.texto1 {
    text-align: center;
}

.texto2 {
    text-align: center;
}